/* body */
body{
    margin: 0;
    padding: 0;
}

/* flexbox */
.d-flex{
    align-items: center;
}

/* card */
.card{
    width: 100%;
    padding: 26px;
    border-radius: 15px;
    border: none;
    background-color: #F5F5F5;
}

/* input */
.mb-3 .form-control{
    padding: 12px;
    margin: auto;
    border-radius: 15px;
}

/* row and col */
.row .col{
    padding: 12px;
}
/* button */
.btn{
    width: 100%;
    padding: 12px;
    margin: auto;
    font-size: 20px;
    border-radius: 24px;
}